<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated semiotics -->
      <package
            uri="us.coastalhacking.semiotics.xcore.model"
            class="us.coastalhacking.semiotics.xcore.model.SemioticsPackage"
            genModel="model/semiotics.xcore"/>
   </extension>

</plugin>
