<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated semiotics -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="us.coastalhacking.semiotics.xcore.model.presentation.SemioticsModelWizardID"
            name="%_UI_SemioticsModelWizard_label"
            class="us.coastalhacking.semiotics.xcore.model.presentation.SemioticsModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/SemioticsModelFile.gif">
         <description>%_UI_SemioticsModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated semiotics -->
      <editor
            id="us.coastalhacking.semiotics.xcore.model.presentation.SemioticsEditorID"
            name="%_UI_SemioticsEditor_label"
            icon="icons/full/obj16/SemioticsModelFile.gif"
            extensions="semiotics"
            class="us.coastalhacking.semiotics.xcore.model.presentation.SemioticsEditor"
            contributorClass="us.coastalhacking.semiotics.xcore.model.presentation.SemioticsActionBarContributor">
      </editor>
   </extension>
</plugin>
